name: Publish trac-msb to npm on release

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish-npm:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
          
      # unit tests are temporarily disabled because they lost stability on GH runners.
      #- name: Install dependencies
      #  run: npm ci

      #- name: Run unit tests
      #  run: npm run test:unit:all

      - name: Publish to npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_MSB_PUBLISH_TOKEN }}
        run: npm publish --access public
