name: Publish trac-msb to npm on release

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish-npm:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Set package.json version from tag
        run: |
          TAG="${GITHUB_REF#refs/tags/}"
          VERSION="${TAG#v}"
          echo "Version from tag: $VERSION"
          npm version "$VERSION" --no-git-tag-version
          
      # unit tests are temporarily disabled because they lost stability on GH runners.
      #- name: Install dependencies
      #  run: npm ci

      #- name: Run unit tests
      #  run: npm run test:unit:all

      - name: Publish to npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_MSB_PUBLISH_TOKEN }}
        run: npm publish